/.neptune/
/Yolo_ADAS_model.keras
/Yolo_GCN_model.keras
/logs/
/Comparative_models/models_/research/
/yolov3.weights
/Yolo_model.weights.h5
/trained_models/detection_models/
/trained_models/yolov3_train_127.keras
/Comparative_models/models_/tf_models_architectures/centernet_hg104/
/Comparative_models/models_/tf_models_architectures/centernet_resnet50_v1_fpn/
/Comparative_models/models_/tf_models_architectures/efficientdet_d5/
/Comparative_models/models_/tf_models_architectures/efficientdet_d6/
/Comparative_models/models_/tf_models_architectures/efficientdet_d7/
/Comparative_models/models_/tf_models_architectures/faster_rcnn_inception_resnet_v2/
/Comparative_models/models_/tf_models_architectures/faster_rcnn_resnet50_v1/
/Comparative_models/models_/tf_models_architectures/faster_rcnn_resnet101_v1/
/Comparative_models/models_/tf_models_architectures/ssd_mobilenet_v2/
/Comparative_models/models_/tf_models_architectures/ssd_mobilenet_v2_fpnlite/
/Comparative_models/models_/tf_models_architectures/ssd_resnet50_v1_fpn/
/dataset/
/dataset/unused_tfrecords/train_single_class_person.tfrecord
/dataset/unused_tfrecords/train_single_class_person_center.tfrecord
/dataset/unused_tfrecords/val_single_class_person.tfrecord
/dataset/unused_tfrecords/val_single_class_person_center.tfrecord
/dataset/images_thermal_train_single_class_person.tfrecord
/dataset/images_thermal_val_single_class_person.tfrecord
/DL_Model_parsing_Teledyne_ADAS_FLIR_json.py
/image_alignment_feature_matching.py
/initial_thermal_bbox_model.h5
/loading_processing_annotations.py
/parsin_annotations.py
/power_usage_log.csv
/valid_thermal_images_prediction.py
